<h1>Editing client</h1>

<%= form_tag :action => 'update', :id => @client do |form| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Speichern' %>
<% end %>

<%= link_to 'zur Liste', :action => 'list' %>
