<h1>Bearbeite Ausgabe</h1>

<%= form_for(@expense, :html => {data: {:'with-tax' => true}}) do |form| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Speichern' %>
<% end %>

<%= link_to 'zurück zur Liste', expenses_path %>
