<h1>Bearbeite Ausgabe</h1>

<%= form_tag expense_path(@expense.id), {:id => @expense, :method => :put} do |form| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Speichern' %>
<% end %>

<%= link_to 'zur&uuml;ck zur Liste', expenses_path %>
