<h1>Neue Ausgabe</h1>

<%= form_tag :action => 'create' do |form| %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Erstellen" %>
<% end %>

<%= link_to 'zurück zur Liste', :action => 'list' %>
